.todolist {
  background-color: #69696969;
  position: absolute;
  /* min-width: 20em; */
  max-width: fit-content;
  bottom: 0;
  right: 0;
}

#quote {
  background-color: #69696969;
  max-width: 70%;
  position: absolute;
  top: 0;
  left: 50;
}

#weather {
  background-color: #69696969;
  max-width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
}

#imgbtn {
  background-color: #69696969;
  /* max-width: fit-content; */
  min-width: fit-content;
  position: absolute;
  bottom: 0;
  left: 0;
}